.config/*

!.config/alacritty/
!.config/hypr
!.config/lf
!.config/metapac
!.config/mpv
!.config/nvim/
!.config/Thunar/
!.config/tmux/
!.config/tofi
!.config/tridactyl
!.config/vlc
!.config/waybar
!.config/yay
!.config/zathura


.config/nvim/solver


